HowTo100M
instr_vids
recipeQA
vist
__pycache__
pytorch_model.bin
cached_*
exp_*
runs
.ipynb_checkpoints/*
.ipynb*
detectron2
demo*.jpg
*.bin
inspection_results
*.pkl
pretrained*
slurm-*
*.swp
.DS*
runs*
missing*
